<header>
	<h1 class="h2">Quran chapter search</h1>
</header>
<section class="search-form">
	<%= form_for :chapters, method: :get do |f| %>
		<div class="input-group input-group-lg">
			<%= label_tag :keywords, nil, class: "sr-only" %>
			<%= text_field_tag :keywords, nil,
				placeholder: "In Arabic or in English ",
				class: "form-control input-lg" %>
			<span class="input-group-btn">
				<%= submit_tag "Find Chapters" ,
					class: "btn btn-primary btn-lg" %>
			</span>
		</div>
	<% end %>
</section>
<section class="search-result">
	<header>
		<h1 class="h3">Result</h1>
	</header>
	<% if @chapters.present? %>
		<%= render partial: "pager",
			locals:{ keywords: @keywords, page: @page }%>
	<% end %>
	<ol class="list-group">
		<% @chapters.each do |chapter| %>
			<li class="list-group-item clearfix">
				<h3 class="pull-right">
					<%= chapter.arabic_name %>
				</h3>
				<h2 class="h3">
					<%= chapter.latin_name %>
					<small><%= chapter.city %></small>
				</h2>
				<h4><%= chapter.english_translation %><h4>
			</li>
		<% end %>
	</ol>
</section>